name: Build UWP (Coolapk Lite)

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    env:
      CONFIGURATION: Release
      PLATFORM: x64
      UWP_SDK_VERSION: 10.0.19041.0

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2
        with:
          nuget-version: '7.x'

      - name: Cache NuGet packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.nuget/packages
            C:\Users\runneradmin\.nuget\packages
          key: nuget-${{ runner.os }}-${{ hashFiles('**/*.csproj', '**/*.sln', '**/packages.config') }}
          restore-keys: |
            nuget-${{ runner.os }}-

      - name: Restore NuGet packages
        run: nuget restore CoolapkLite.sln
        
      - name: Install Windows 10 SDK 19041
        shell: powershell
        run: |
          choco install windows-sdk-10.0.19041.0 -y


      - name: Build UWP solution
        run: |
          msbuild CoolapkLite.sln `
            /p:Configuration=$env:CONFIGURATION `
            /p:Platform=$env:PLATFORM `
            /p:TargetPlatformVersion=$env:UWP_SDK_VERSION `
            /p:TargetPlatformMinVersion=$env:UWP_SDK_VERSION `
            /restore
